html{
    box-sizing: border-box;
}
/*font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;*/
*,
*::after,
*::before{
    box-sizing: inherit;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
    color: #1F1E1E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    text-decoration: none;
    color: inherit;
}
.header{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    padding: 16px 0 49px;
    align-items: center;
}
.header__phone{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}
.header__phone-number{
    background-color: #886239;
    border-radius: 22px;
    font-weight: 400;
    padding: 12px 31px 13px;
    margin-left: 19px;
}
.menu{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    padding: 27px 0 24px;
}
.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    margin-bottom: auto;
}
.header__descr{
    font-weight: 700;
    font-size: 20px;
    max-width: 422px;
    margin-bottom: 20px;
}
.header__btn{
    display: inline-block;
    padding: 19px 55px 20px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: #886239;
    border-radius: 30px;
    margin-bottom: 20px;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
}
.direction{
    padding: 100px 0;
}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.direction__img{
    display: block;
}
.direction__text{
    color: #1F1E1E;
    font-size: 16px;
    border: 1px solid #D9D9DE;
    border-top: none;
    padding: 10px 19px 14px;
}
.travel-info{
    background-image: url(../images/travel-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;
}
.title{
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}
.travel-info__title{
    color: #fff;
    margin-bottom: 50px;
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 53px;
    grid-row-gap: 67px;
}
.travel-info__text{
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}
.travel-info__img{
    margin-bottom: 15px;
}
.popular{
    padding: 100px 0;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D9D9DE;
}
.popular__title{
    margin-bottom: 40px;
}
.popular__link{
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 256px;
    line-height: 130%;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title{
    font-weight: 500;
    margin-bottom: 15px;
}
.popular__link-title--big{
    font-size: 24px;
    max-width: 450px;
}
.popular__text{
    font-weight: 700;
    font-size: 16px;
    margin-top: auto;
}
.popular__country,
.popular__time{
    margin-bottom: 15px;
}
.map{
    padding-bottom: 100px;
}
.map__title{
    margin-bottom: 46px;
}
.about{
    margin-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__title{
    margin-bottom: 25px;
    text-align: left;
}
.about__text{
    margin-bottom: 34px;
}
.about__link{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #C4C4C4;
}
.about__popup{
    background-image: url(../images/popup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    padding: 50px 0 105px;
    background-color: #886239;
}
.gallery__top{
    margin-bottom: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery__link{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-decoration: underline;
    padding-right: 160px;
}
.gallery__item-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: -85px;
}
.slick-prev{
    right: 60px;
}
.slick-next{
    right: 0;
}
.tour{
    padding: 100px 0;
}
.tour__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    padding-bottom: 77px;
}
.tour__inner{
    column-count: 2;
    column-gap: 46px;
    padding-bottom: 45px;
    border-bottom: 1px solid #D9D9DE;
}
.tour__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 541px;
}
.tour__text{
    margin-bottom: 20px;
}
.tour__text span{
    font-weight: 700;
    text-transform: uppercase;
}
.tour__items{
    margin-top: 44px;
}
.tour__list{
    display: flex;
    justify-content: space-between;
}
.tour__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.item__num{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 58px;
    line-height: 130%;  
    color: #886239;
}
.item__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}
.booking{
    background-color: #eaeaea;
    padding: 75px 0;
}
.booking__title{
    margin-bottom: 43px;
}
.booking__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
}
.booking__input{
    width: 256px;
    height: 44px;
    border: 1px solid #D9D9DE;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
}
.booking__input::placeholder,
.booking__area::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}
.booking__area{
    width: 100%;
    border: 1px solid #D9D9DE;
    padding: 14px;
    height: 112px;
    resize: none;
    margin-bottom: 67px;
}
.booking__btn{
    background-color: #886239;
    border-radius: 30px;
    color: #fff;
    border: none;
    font-size: 18px;
    line-height: 21px;
    padding: 19px 65px 20px;
    cursor: pointer;
}
.booking__label{
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.booking__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
}
.booking__checkbox-style{
    width: 26px;
    height: 26px;
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
}
.booking__checkbox:checked + .booking__checkbox-style::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    background-color: #1f1e1e;
    color: #fff;
    padding: 80px 0;
}
.footer__logo{
    text-align: center;
    margin-bottom: 70px;
}
.footer__box{
    display: flex;
    justify-content: space-between;
    max-width: 830px;
    font-size: 14px;
    line-height: 130%;
    margin: 0 auto;
}
.footer__info{
    width: 225px;
}
.footer__box-title{
    margin-bottom: 7px;
    font-weight: 500;
}
.footer__adress{
    width: 165px;
}
.footer__contacts{
    width: 250px;
}
.footer__box-copy{
    margin-bottom: 3px;
    opacity: 0.8;
}
.footer__box-link{
    text-decoration: underline;
    opacity: 0.8;
}
.footer__box-text{
    opacity: 0.8;
}
.footer__box-text-email{
    opacity: 0.8;
    display: block;
}