html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #070A1B;
    color: #fff;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    text-decoration: none;
}
.header{

}
.header__top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}